/*fonts*/
@import url("https://use.typekit.net/ggb1pek.css");


:root {
    --primary-font: cabrito-sans, sans-serif;
    --main-color: #4EA6C7;
}

body {
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}


.post {
    display: grid;
    width: 350px;
    height: 450px;
    float: left;
    flex-direction: column;
    text-align: center;
    border: 2px;
    border-color: lightgray;
    border-style: solid;
    margin: 10px;
    margin-top: 40px;

}

* {
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    width: 1000px;
    display: flex;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.options {
    margin: auto;
}

h1 {
    margin: 10px;
}

h2 {
    margin: auto;
    font: 500 1.4em/1 var(--primary-font);
    margin-bottom: 10px
}

mark {
    color: var(--main-color);
    background-color: #ffffff;
}

.container {
    padding: 10px;
    background-color: #F2F2F2;
}

/*button*/

.property {
    padding: 1rem;
    color: var(--main-color);
    text-align: center;
    text-decoration: none;
    font: 400 1.1em/1 var(--primary-font);
    letter-spacing: 1px;
    cursor: pointer;
    border-style: solid;
    border: 1;
    border-color: var(--main-color);
    background-color: white;
}

.numbers-table {
    width: 100%;
}

td {
    table-layout: fixed;
    width: 20px;
}

.main {
    color: white;
    font: 400 1.1em/1 var(--primary-font);
    background-color: var(--main-color);
    padding: 1rem;
    letter-spacing: 1px;
    border: 0;
}

img:hover {
    webkit-filter: blur(4px);
    filter: blur(4px);
}
